@model ProyectWeb.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ProductoId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index")
</p>
