@model IEnumerable<ProyectWeb.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadMedida.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadMedida.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCompra)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }, new { @class = "btn btn-outline-success" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.ProductoId }, new { @class = "btn btn-outline-warning" })|
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoId }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
