@model ProyectWeb.Models.Cliente

<h2>Detalles del cliente</h2>
<p>Cliente: @Model.Nombres  @Model.Apellidos</p>
<p>Cliente ID: @Model.Clienteld</p>
<p>Estado: @Model.Estado</p>
<p>GrupoDescuentoId: @Model.GrupoDescuentoId</p>
<p>CondicionPagoId: @Model.CondicionPagoId </p>
<p>Cliente estado: @Model.Estado</p>
<p> FechaCreacion: @Model.FechaCreacion</p>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Clienteld }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index")
</p>