@model ProyectWeb.Models.Cliente

<h2>¿Estás seguro de que deseas eliminar este cliente?</h2>
p>Cliente: @Model.Nombres  @Model.Apellidos</p>
<p>Cliente ID: @Model.Clienteld</p>
<p>Estado: @Model.Estado</p>
<p>GrupoDescuentoId: @Model.GrupoDescuentoId</p>
<p>CondicionPagoId: @Model.CondicionPagoId </p>
<p>Cliente estado: @Model.Estado</p>
<p> FechaCreacion: @Model.FechaCreacion</p>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
