@model ProyectWeb.Models.PedidoDetalle

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estás seguro de que quieres eliminar este campo?</h3>
<div>
    <h4>PedidoDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.PedidoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.ProductoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.ProductoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    @Html.ActionLink("Regresar", "Index", new { id = Model.PedidoDetalleId }, new { @class = "btn btn-warning" })
</div>
    }
</div>
